/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

* {
  user-select: none !important;
  outline: none !important;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
.category-quiz {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  grid-gap: 30px;
  padding-bottom: 15px;
}
.category-quiz .category {
  cursor: pointer;
  transition: all 0.2s linear !important;
  overflow: hidden;
  background-image: white;
  flex: none;
  height: 200px;
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  position: relative;
}
.category-quiz .category .click-category {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.category-quiz .category * {
  transition: all 0.2s linear !important;
}
.category-quiz .category svg {
  height: 5rem;
  width: 5rem;
  align-self: center;
  transform: scale(1);
  margin-top: 10px;
}
.category-quiz .category .category__title {
  font-family: "Poppins-Medium";
  font-size: 1.2rem;
  text-align: center;
}
.category-quiz .category:hover {
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
}
.category-quiz .category:hover .category__title {
  color: white;
}
.category-quiz .category:hover svg {
  transform: scale(1.2);
}

.category-select {
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
}
.category-select .category__title {
  color: white;
}
.category-select svg {
  transform: scale(1.2) !important;
}

.level__quiz {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100% !important;
  justify-content: center;
  align-items: center;
  grid-gap: 25px;
  padding: 10px 0;
}
.level__quiz .level {
  flex: none;
  height: 200px;
  width: 200px;
  background: white;
  position: relative;
  font-family: "Poppins-Medium";
  font-size: 1.2rem;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  transition: all 0.2s linear !important;
  cursor: pointer;
}
.level__quiz .level svg {
  height: 5rem;
  width: 5rem;
  align-self: center;
  transform: scale(1);
  margin-top: 10px;
}
.level__quiz .level .click-level {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.level__quiz .level * {
  transition: all 0.2s linear !important;
}
.level__quiz .level:hover {
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
  color: white;
}
.level__quiz .level:hover svg {
  transform: scale(1.2);
}

.level-select {
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053) !important;
  color: white !important;
}
.level-select svg {
  transform: scale(1.2) !important;
}

.app-content {
  display: flex;
  height: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  flex-direction: column;
  width: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-slide {
  display: none;
  flex-direction: column;
  grid-gap: 25px;
  padding: 20px;
  height: auto !important;
  flex: none;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  transform: scale(0);
  transition: all 0.2s linear;
}

.content-hide {
  transform: scale(0);
  display: none;
}

.content-show {
  transform: scale(1);
  display: flex;
}

.quiz-number {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.quiz-number input {
  border-radius: 2px;
  border: none;
  height: 50px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  align-self: center;
  width: 80px;
  font-family: "Poppins-Bold";
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.2s linear;
}
.quiz-number input:hover {
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
  color: white;
}

.btn-go {
  flex: none;
  border-radius: 3px;
  padding: 20px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #600200, #700514, #7f0926, #89003b, #900053);
  color: white;
  transition: all 0.2s linear;
  z-index: 15000;
  border: none;
  font-family: "Poppins-Bold";
  -webkit-animation: pulse1 2s infinite;
  animation: pulse1 2s infinite;
  align-self: center;
}

@-webkit-keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(136, 1, 56, 0);
  }
}
@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(136, 1, 56, 0);
  }
}
.btn-nav {
  overflow: hidden;
  position: fixed;
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to right top, #600200, #700514, #7f0926, #89003b, #900053);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  z-index: 2000;
  transform: translateY(-50%);
}
.btn-nav svg {
  height: 1.5rem;
  width: 1.5rem;
}

#left {
  left: 5%;
}

#right {
  right: 5%;
}

.loading-quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15055500;
  display: none;
  align-items: center;
  justify-content: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container__quiz {
  position: absolute;
  z-index: 5020006000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 100% !important;
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-gap: 15px;
  flex-direction: column;
  transform: scale(0);
  transition: all 0.2s linear;
  display: none;
}

.quiz_content_visible {
  display: flex;
  transform: scale(1) translate(-50%, -50%);
}

.quiz__header {
  height: 100px;
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  position: fixed;
}
.quiz__header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  flex: none;
  overflow: hidden;
}
.quiz__header .title .time {
  display: flex;
  grid-gap: 15px;
  flex: none;
  border: 1px solid white;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.quiz__header .title .time svg {
  height: 1rem;
  width: 1rem;
}
.quiz__header .title .time .time-quiz {
  color: white;
}

.quiz_number {
  font-family: "Poppins-Bold";
  font-size: 1.2rem;
  color: white;
}

.quiz__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 150px;
  height: auto;
  grid-gap: 30px;
}

.question {
  height: auto;
  flex: none;
  display: flex;
  flex-direction: column;
  grid-gap: 35px;
}

.quiz__text {
  font-family: "Poppins-Bold";
  text-align: left;
  height: auto;
}

.quiz__answers {
  height: auto;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.quiz__answers .answers {
  flex: none;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  font-family: "Poppins-Medium";
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
  background: white;
  transition: all 0.2s linear;
  cursor: pointer;
}
.quiz__answers .answer-correct {
  background: #28a745;
  color: white;
}
.quiz__answers .answer-incorrect {
  background: #dc3545;
  color: white;
}

.next-quiz {
  background: #17a2b8 !important;
  cursor: pointer;
  opacity: 0.2;
}

.next-active {
  opacity: 1;
}

.quit,
.next-quiz {
  align-self: center;
  border-radius: 3px;
  padding: 10px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #600200, #700514, #7f0926, #89003b, #900053);
  color: white;
  transition: all 0.2s linear;
  z-index: 15000;
  border: none;
  font-family: "Poppins-Bold";
  cursor: pointer;
  align-self: center;
}

.score__quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100% !important;
  height: 100vh !important;
  z-index: 1548958256;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}
.score__quiz .content__score {
  background: white;
  height: 50%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  padding: 0 5px;
}

.score {
  display: flex;
  grid-gap: 10px;
}
.score div {
  display: flex;
  flex: none;
  flex-direction: column;
  grid-gap: 5px;
  width: 100px;
  height: 100px;
  background: red;
  justify-content: center;
  align-items: center;
  font-family: "Poppins-Bold";
  font-size: 1rem;
  text-align: center;
}
.score div span {
  font-family: "Poppins-Medium";
  font-size: 1rem;
}

#qzt {
  background: #f9b826;
}

#correct {
  background: #1ec19f;
}

#incorrect {
  background: #ff5c1d;
}

.replay {
  align-self: center;
  border-radius: 3px;
  padding: 10px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #600200, #700514, #7f0926, #89003b, #900053);
  color: white;
  transition: all 0.2s linear;
  z-index: 15000;
  border: none;
  font-family: "Poppins-Bold";
  cursor: pointer;
  align-self: center;
}

body {
  font-family: "Poppins-Regular", sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  position: relative;
  height: auto;
  background: white;
  grid-gap: 15px;
  flex: none;
  width: 100%;
}

.title-section {
  font-family: "Poppins-Bold";
  font-size: 1.5rem;
}

.app-header {
  flex: none;
  height: auto;
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  align-items: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  justify-content: center;
  color: white;
  position: fixed;
  z-index: 40000;
  width: 100%;
}
.app-header h3 {
  font-family: "Poppins-Bold";
  font-size: 1.2rem;
  text-align: center;
}

@-webkit-keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(136, 1, 56, 0);
  }
}
@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(136, 1, 56, 0);
  }
}
.footer__nevigation {
  position: fixed;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
  display: flex;
  flex-direction: row;
  flex: none;
  bottom: 0;
  z-index: 3000;
  justify-content: space-between;
  align-items: center;
}
.footer__nevigation .nav-btn {
  flex: none;
  border-radius: 3px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  font-family: "Poppins-Medium";
  box-shadow: #ccdbe8 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: all 0.2s linear;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1rem;
}
.footer__nevigation .nav-btn-active {
  opacity: 1;
}

.back {
  margin-left: 10px;
}

.next {
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
