@import './reset.scss';
@import './variable.scss';
@import './content-app.scss';
@import './quiz.scss';
body{
  font-family: $font-Regular,sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
}

.container{
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  position: relative;
  height: auto;
  background:white;
  grid-gap:15px;
  flex: none;
  width: 100%;
}
.title-section{
  font-family: $font-Bold;
  font-size: 1.5rem;
}


.app-header {
    flex: none;
    height: auto;
    background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    align-items: center;
    padding: $padding-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    justify-content: center;
    color: white;
    position: fixed;
    z-index: 40000;
    width: 100%;
    & h3 {
        font-family: $font-Bold;
        font-size: 1.2rem;
        text-align: center;
    }
}


@-webkit-keyframes pulse1 {
    0% {
        box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(136, 1, 56, 0);
    }
}

@keyframes pulse1 {
    0% {
        box-shadow: 0 0 0 0 rgba(136, 1, 56, 0.9);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(136, 1, 56, 0);
    }
}

.footer__nevigation{

    position: fixed;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right top, #601c00, #701514, #7e0926, #89003b, #900053);
    display: flex;
    flex-direction: row;
    flex: none;
    bottom:0;
    z-index: 3000;
    justify-content: space-between;
    align-items:center;
    & .nav-btn{
        flex: none;
    border-radius:3px;
    padding:10px 35px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: white;
    border:none;
    font-family: $font-Medium;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    transition: all 0.2s linear;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1rem;
    }
    & .nav-btn-active{
    opacity: 1.0 ;
}
}

.back{
    margin-left: 10px;
}
.next{
    margin-right: 10px;
}
